apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
        {{- range $k, $v := .Values.podLabels }}
        {{ $k }}: {{ $v | quote }}
        {{- end }}
    spec:
      initContainers:
        - name: wait-for-keycloak
          image: curlimages/curl:8.9.1
          command: [ "sh","-c" ]
          args:
            - |
              echo "Waiting for Keycloak..."
              until curl -sf http://keycloak:8080/realms/master; do
                sleep 3
              done
              echo "Keycloak is ready"
      containers:
        - name: {{ include "app.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: SPRING_CONFIG_IMPORT
              value: "optional:/config/application-global.yml,optional:/config/application-service.yml"
          volumeMounts:
            - name: app-config
              mountPath: /config
              readOnly: true
      volumes:
        - name: app-config
          projected:
            sources:
              - configMap:
                  name: global-config
                  items:
                    - key: application.yaml
                      path: application-global.yml
              - configMap:
                  name: {{ include "app.fullname" . }}-config
                  items:
                    - key: application.yaml
                      path: application-service.yml
